.contols {
    margin: 0 auto 48px;
    display: grid;
    grid-template-columns: 378px 130px 130px 188px;
    column-gap: 12px;
    align-items: flex-start;
    justify-items: flex-end;
    width: fit-content;
}

.result {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    row-gap: 78px;
    margin: 78px auto 0;
    width: fit-content;
    list-style: none;
    flex-wrap: wrap;
}