.controll {
    margin: 0 auto 120px;
    width: fit-content;
    display: grid;
    grid-template-columns: 204px repeat(4, 175px);
    grid-template-rows: repeat(2, 60px);
    column-gap: 12px;
    row-gap: 38px;
}

.longButton_left {
    grid-column: 2 / 4;
}

.longButton_right {
    grid-column: 4 / 6;
}

.solution  {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.wrapper {
    width: 114px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
}